@import './reset.css';
@import './global.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-green {
  background-color: rgb(29, 118, 96);
}
.bg-green-light {
  background-color: rgba(29, 118, 96, 0.708);
}
.color-red {
  color: rgba(255, 0, 0, 0.533);
}
.text-center {
  text-align: center;
}

.border {
  border: 2px solid;
}
